body {
    overflow-x: hidden;
}
.moveup {
    margin-top:-25px;
}

* {
    position:relative;
}

.hidden {
    display: none;
}

.enlarge {
    font-size: 46px;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}

.enlarge:hover {
    color: white;
}

.water {
    background:url('../Content/Images/bkg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    min-height: 750px;
    margin-top:55px;
}

.logo {
    position:relative;
    height: 75px;
    width: 100px;
    background:url('../Content/Images/SGUX_logo_small.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:0 auto;
    display:block;
    text-indent:-999em;
    top:-38px;
}

.navlist {
    margin-top: 50px;
    list-style:none;
    margin-bottom:0px;
}

.navlist  li {
    height: 61px;
    text-align: center;
    font-size: 1.5em;
}


.navlist  li > a:link {
    color:white;
    text-decoration:none;
}

.navlist  li > a:visited {
    color: white;
}

.navlist  li >  a:hover {
    color:orange;
}


hr {
    clear: both;
    width: 33%;
    margin-left:auto;
    margin-right: auto;
}

.seth {
    margin-top:60px;
    padding:0;
}
.seth p {
    font-family: Helvetica, serif;
    font-size:3em;
    color:white;
    text-align:center;
    margin:0 auto;
}

.seth p.bigorange {
    font-size: 5em;
    font-weight:700;
    color:orange;
}

.recent-work {
    padding:0;
    margin-bottom:25px;
}

.recent-work p {
    font-size:2em;
    font-weight: 700;
    color:orange;
    margin-left: 15px;
}

.recent-work ul li {
    list-style: none;
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-left:15px;
}

.recent-work ul li a {
    height:300px;
    width:300px;
    display: inline-block;
}

.recent-work ul {
    margin:0px;
    padding:0px;
}

#imageProcess {
    background-image:url('../Content/Images/iceberg_final_bkg.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position:50% 50%;
}

#imageProcess-inner {
    display: block;
    height: 0;
    padding-top: 56.25%;

}

.rr {
    background-image: url('../Content/Images/rr_rw.jpg');
    background-repeat: no-repeat;
}
.adv {
    background-image: url('../Content/Images/adv_rw.jpg');
    background-repeat: no-repeat;
}
.pw {
    background-image: url('../Content/Images/pw_rw.jpg');
    background-repeat: no-repeat;
}
.advff {
    background-image: url('../Content/Images/afalogo.jpg');
    background-repeat: no-repeat;
}

.white {
    color: white;
}

#about div.col-md-4 {
    height: 425px;
}

.about-me div {
    margin-top: 15px;
    margin-bottom: 25px;
}

.about-me div .center {
    margin-top: 20px;
}

.designThings {
    height:750px;
    background-image: url('../Content/Images/contactbkg.jpg')
}

.about-me .image-text {
    font-size: 1.7em;
    font-weight: 700;
}

.about-me .image {
    background-repeat: no-repeat;
    height: 252px;
    width: 252px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
}

.ed {
    background-image: url('../Content/Images/education.png');
}

.image .image-text {
    padding-top: 170px;
}

.ex {
    background-image: url('../Content/Images/exp.png');
}

.ho {
    background-image: url('../Content/Images/hobbies.png');
}

#hobbies {
    padding-top: 165px;
}

.center {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center p {
    font-size: 15px;
    font-weight: 700;
}

.orange {
    color: orange;
   
}

.smallOrange {
    margin-top:100px;
    font-size: 2.5em;
    font-weight:600;
    color:orange;
    text-align: center;
}

.pushDown {
    margin-top:75px;
    font-size: 2.5em;
    color:white;
    text-align:center;
}

.form {
    margin-top: 75px;
    color: white;
}

.clearMargin {
    margin:0px;
}

.buttonContainer {
    margin-top: 50px;
    height: 500px;
}

.button {
    height: 100px;
    background-color: #ffab00;
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top:25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: inset 0px -10px 0px -3px #A36E00;
    -moz-box-shadow: inset 0px -10px 0px -3px #A36E00;
    -webkit-box-shadow: inset 0px -10px 0px -3px #A36E00;
}

.button:hover {
    color: white;
    text-decoration: none;
    background-color: #FFBC21;
    transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    box-shadow: inset 0px -10px 0px -3px #875E00;
    -moz-box-shadow: inset 0px -10px 0px -3px #875E00;
    -webkit-box-shadow: inset 0px -10px 0px -3px #875E00;
}

.field-validation-valid
{
    display: none;
}

.validation-summary-valid
{
    display: none;
}

footer {
    text-align: center;
}

.fb {
    margin-top: -150px;
}

.link {
    margin-top: -120px;
}

@media screen and (min-width:992px) and (max-width:1280px) {
    .water {
        background-image: url(../Content/Images/bkg1280.jpg);
        min-height: 504px; 
        margin-top:62px;
    } 

     .seth {
        margin-top:25px;
        padding:0;
    }
    .seth p {
        font-size:2.5em;
    }
    .seth p.bigorange {
        font-size: 3.5em;
    }

        .recent-work ul li {
        height: 225px;
        width: 225px;
    }

    .recent-work ul li a {
        height:225px;
        width:225px;
    }
    .rr {
        background-image: url('../Content/Images/rr_rw_sm.jpg');
    }
    .adv {
        background-image: url('../Content/Images/adv_rw_sm.jpg');
    }
    .pw {
        background-image: url('../Content/Images/pw_rw_sm.jpg');
    }
    .advff {
         background-image: url('../Content/Images/afalogo_sm.jpg');
    }
}

@media screen and (max-width:992px) {
    .water {
        background-image: url(../Content/Images/bkg992.jpg);
        min-height: 390px; 
        margin-top:62px;
    } 
    .seth {
        margin-top:25px;
        padding:0;
    }
    .seth p {
        font-size:2em;
    }
    .seth p.bigorange {
        font-size: 3em;
    }

    .navlist {
        margin-top: 25px;
    }

    .navlist li {
        height: 50px;
    }

    .moveup {
        margin-top: -30px;
    }

    hr {
        width: 50%;
    }

    .about-me .image {
        height: 200px;
        width: 200px;
    }

    .about-me div {
        margin-bottom: 0px;
    }

    .center {
        width: 200px;
    }

    .ex {
        background-image: url('../Content/Images/exp_sm.png');
    }

    .ho {
        background-image: url('../Content/Images/hobbies_sm.png');
    }

    .ed {
        background-image: url('../Content/Images/education_sm.png');
    }

    .image .image-text {
        padding-top: 130px;
    }

    #hobbies {
        padding-top: 127px;
    }

    .designThings {
        height:500px;
        background-image: url('../Content/Images/contactbkg.jpg')
    }

    .smallOrange {
        margin-top: 20px;
        font-size: 2em;
    }

    .pushDown {
        margin-top:20px;
        font-size: 2em;
    }

    .form {
        margin-top: 20px;
    }

    .fb {
        margin-top: -99px;
    }

    .link {
        margin-top: -98px;
    }
}

@media screen and (max-width: 991px) {
     .recent-work ul li {
        height: 175px;
        width: 175px;
    }

    .recent-work ul li a {
        height:175px;
        width:175px;
    }
    .rr {
        background-image: url('../Content/Images/rr_rw_xsm.jpg');
    }
    .adv {
        background-image: url('../Content/Images/adv_rw_xsm.jpg');
    }
    .pw {
        background-image: url('../Content/Images/pw_rw_xsm.jpg');
    }
    .advff {
         background-image: url('../Content/Images/afalogo_xsm.jpg');
    }
}